* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* border: 2px solid green; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.logistics {
  display: flex;
}

.gameBoard {
  border: 2px solid magenta;
  display: flex;
  flex-flow: row nowrap;
  height: 85vh;
}

.gameside, .deckside {
  border: 2px solid blue;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  text-align: center;
}

.dToonCard {
  border: 2px solid black;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.red {
  color: red;
}

.dToonDiv {
  display: flex;
  flex-flow: row nowrap;
}
.toonImage {
  border: 1px solid grey;
  width: 150px;
  height: 150px;
}