* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  border: 2px solid greenyellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}


.gameBoard {
  border: 2px solid magenta;
  display: flex;
  flex-flow: column nowrap;
  flex: 2.5;
  /* height: 100%;
  width: 100%; */
}
.scoreBoard {
  border: 2px solid greenyellow;
  display: flex;
  flex: 1;
  justify-content: center;
}

/* board layout! */
.cardLayout {
  border: 2px solid red;
  flex: 5;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.playerLayout {
  grid-template-areas:
  "f1 f1 f1 f1 f2 f2 f2 f2 f3 f3 f3 f3 f4 f4 f4 f4"
  "e1 e2 b1 b1 b1 b1 b2 b2 b2 b2 b3 b3 b3 b3 e3 e4";
}
.opponentLayout {
  grid-template-areas:
  "e1 e2 b1 b1 b1 b1 b2 b2 b2 b2 b3 b3 b3 b3 e3 e4"
  "f1 f1 f1 f1 f2 f2 f2 f2 f3 f3 f3 f3 f4 f4 f4 f4";
}
.cardLayout, .spot:nth-child(1) { grid-area: f1; }
.cardLayout .spot:nth-child(2) { grid-area: f2; }
.cardLayout .spot:nth-child(3) { grid-area: f3; }
.cardLayout .spot:nth-child(4) { grid-area: f4; }
.cardLayout .spot:nth-child(5) { grid-area: b1; }
.cardLayout .spot:nth-child(6) { grid-area: b2; }
.cardLayout .spot:nth-child(7) { grid-area: b3; }

.spot {
  border: 1px solid black;
  background-color: #dbfeff;
  width: 20vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boardImage {
  height: 100%;
  width: 100%;
}